@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;

  /* added new fonts */
  --font-elsie: "Elsie Swash Caps", cursive;
  --font-monsieur: "Monsieur La Doulaise", cursive;
  --font-corinthia: "Corinthia", cursive;

  /* Colors from the old :root variables */
  --color-navy: #071a2b;
  --color-brand: #1677ff; /* old --blue */
  --color-muted: #667085;
  --color-light: #f5f7fa;
  --color-line: #dfe5ec; /* old --border */

  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1400px;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}
