@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;

  /* added new fonts */
  --font-elsie: "Elsie Swash Caps", cursive;
  --font-monsieur: "Monsieur La Doulaise", cursive;
  --font-corinthia: "Corinthia", cursive;

  /* Colors from the old :root variables */
  --color-navy: #071a2b;
  --color-brand: #1677ff; /* old --blue */
  --color-muted: #667085;
  --color-light: #f5f7fa;
  --color-line: #dfe5ec; /* old --border */

  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1400px;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

/* =========================================
   CATEGORY GRID LAYOUT
========================================= */

/* .category-grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
} */

/* Tablet */
/* @media (min-width: 768px) {
  .category-grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-eyeglasses {
    grid-column: span 2;
  }
} */

/* Desktop */
/* @media (min-width: 1100px) {
  .category-grid-layout {
    grid-template-columns: 1.15fr 0.85fr;
    grid-template-rows: 280px 280px 220px;

    grid-template-areas:
      "eyeglasses sunglasses"
      "eyeglasses contact"
      "kids kids";
  }

  .category-eyeglasses {
    grid-area: eyeglasses;
    min-height: 0;
  }

  .category-sunglasses {
    grid-area: sunglasses;
    min-height: 0;
  }

  .category-contact {
    grid-area: contact;
    min-height: 0;
  }

  .category-kids {
    grid-area: kids;
    min-height: 0;
  }
} */

.category-grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

@media (min-width: 768px) {
  .category-grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-eyeglasses {
    grid-column: span 2;
  }
}

@media (min-width: 1100px) {
  .category-grid-layout {
    grid-template-columns: 1.15fr 0.85fr;

    grid-template-rows:
      280px
      280px
      280px
      280px;

    grid-template-areas:
      "eyeglasses sunglasses"
      "eyeglasses computer"
      "sport kids"
      "sport contact";
  }

  .category-eyeglasses {
    grid-area: eyeglasses;
    min-height: 0;
  }

  .category-sunglasses {
    grid-area: sunglasses;
    min-height: 0;
  }

  .category-computer {
    grid-area: computer;
    min-height: 0;
  }

  .category-sport {
    grid-area: sport;
    min-height: 0;
  }

  .category-kids {
    grid-area: kids;
    min-height: 0;
  }

  .category-contact {
    grid-area: contact;
    min-height: 0;
  }
}
